<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="addressBean" class="demo.Address">
        <constructor-arg value="gaziabad"></constructor-arg>
        <constructor-arg value="UP"></constructor-arg>
        <constructor-arg value="India"></constructor-arg>
    </bean>

    <bean id="studentBean" class="demo.Student">
        <constructor-arg index="0" name="name" value="mkp246" type="java.lang.String"></constructor-arg>
        <constructor-arg value="10" name="id" type="int"></constructor-arg>
        <constructor-arg>
            <ref bean="addressBean"/>
        </constructor-arg>
    </bean>

    <bean id="studentBean1" class="demo.Student">
        <constructor-arg index="0" name="name" value="mkp246" type="java.lang.String"></constructor-arg>
        <constructor-arg value="10" name="id" type="int"></constructor-arg>
    </bean>

    <bean id="studentBean2" class="demo.Student" parent="studentBean1">
        <constructor-arg>
            <ref bean="addressBean"/>
        </constructor-arg>
    </bean>

    <bean id="q1" class="demo.Question">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="whats java?"></constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="a1"/>
                <ref bean="a2"/>
                <ref bean="a3"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="a1" class="demo.Answer">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Java is a programming language"></constructor-arg>
        <constructor-arg value="John"></constructor-arg>
    </bean>
    <bean id="a2" class="demo.Answer">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="Java is a Platform"></constructor-arg>
        <constructor-arg value="Ravi"></constructor-arg>
    </bean>
    <bean id="a3" class="demo.Answer">
        <constructor-arg value="3"></constructor-arg>
        <constructor-arg value="Java is an Island of Indonasia"></constructor-arg>
        <constructor-arg value="kp"></constructor-arg>
    </bean>

</beans>