<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="a1" class="demo.factory.A" factory-method="getA"></bean>
    <bean id="printable" class="demo.factory.PrintableFactory" factory-method="getPrintable"></bean>
    <bean id="pf" class="demo.factory.PrintableFactory"></bean>
    <bean id="printableNonStatic" class="demo.factory.PrintableFactory" factory-method="getPrintable" factory-bean="pf">
        <constructor-arg value="mkp246"/>
    </bean>

</beans>